.header {
    height: var(--header-heigh);
    /* background-color: #ee4d2d; */
    background-image: linear-gradient(0, #ff7337,#ee4d2d);
}

.header__navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px 0 0 0;
    font-weight: 300;
    display: flex;
}

.header__navbar-item {
    display: inline-block;
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 18px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -29px;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 100%;
    height: 8px;
    /* background-color: #000; */
}

.header__navbar-user-item {

}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
    
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-item, .header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item--notify:hover .header__notify {
    display: block;
}

.header__navbar-item--qr:hover .header__qr {
    display: block;
}

.header__navbar-icon-link:hover,
.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    border-right: 2px solid #fb9086;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 4px 4px;
}

.header__navbar-titte-none {
    cursor: text;
    color: var(--white-color);
}

/* header QR */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    margin-top: 8px;  
    display: none;  
    animation: fadeIn ease-in .3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 22px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link {
    margin: 0 11px 0 11px ;
}

.header__qr-donwload-img {
    height: 15px;
}

/* notifition */

.header__notify {
    display: none;
    position: absolute;
    z-index: 1;
    border-radius: 2px;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    will-change: opacity, transform;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
}

.header__notify::before {
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -28px;
}

.header__notify::after {
    content: "";
    display: block ;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999 ;
    margin: 0 0 0 12px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.1);
}

.header__notify-link {
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    line-height: 1.3;
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6e;
    margin-top: 4px;
}

.header-notify-footer {
    display: flex;
}

.header-notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    margin: auto;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
}



/* authen form */
.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    /* padding: 0 8px; */
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    margin-top: 16px;
}

.auth-form {
    width: 500px;
}

.auth-form__input {
    height: 40px;
    width: 100%;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;

}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: end;
}

.auth-form__controls-back{
    margin-right: 8px;
}


.btn {
    background-color: var(--white-color);
}

.auth-form_socials {
    margin-top: 22px;
    background-color: #f5f5f5;
    padding: 14px 32px;
    display: flex;
    justify-content: space-between;
}

.auth-form_socials-icon {
    font-size: 1.8rem;
}

.socials__icon-facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.socials__icon-facebook 
.auth-form_socials-icon {
    color: var(--white-color);
}

.socials__icon-google {
    background-color: var(--white-color);
    color: #666;
}

.socials__text-label {
    margin: 0 36px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: -2px 16px 0;
    border-left: 1px solid var(--border-color);
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* header with search */
    
.header-with-search {
    margin: 0 8px;
    display: flex;
    align-items: center;
    height: var(--header-navbar-search-height);
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent ;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    margin-top: 6px;
    color: var(--white-color);
    font-size: 2.4rem;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 16px;
    color: var(--text-color);
}

.header_search-select {
    position: relative;
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    
}

.header_search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: default;
}

.header_search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px 0 6px;
    position: relative;
    top: 1px;
}

.haeder_search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
}

.haeder_search-btn:hover {
    background-color: #fb5445;
    cursor: pointer;
}

.haeder_search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__search-option {
    width: 130px;
    position: absolute;
    /* margin-top: 14px; */
    right: 0;
    top: calc(100% + 4px);
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .2s;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
    position: absolute;
}

.header__search-option-item {
    background-color: var(--white-color);
    padding: 12px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header_search-select:hover .header__search-option {
    display: block;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item-active i {
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #bbb9b9;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.3rem;
    color: #999;
    font-weight: 350;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: #edebeb;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

/* No Cart */
.header__cart-list {
    width: 400px;
    position: absolute;
    top: calc(100% + 6px);
    right: 0px;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in .2s;
    cursor: default ;
    display: none;
    z-index: 1;
}

.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-cart-msg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 3px;
    top: -25px;
    border-width: 16px 20px;
    border-style: solid;
    cursor: pointer;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart-img {
    width: 55%;
    padding: 20px 0;
    display: none;
}

.header__cart-list--no-cart {
    padding: 24px 0;

}

.header__cart-list--no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);

}

.header__cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border: 2px solid #ee4d2d;
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #999;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 50vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color)
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-price-wrap {

}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0 0 4px 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-align: left;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-quantity {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-revome {
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.header__cart-item-revome:hover {
    color: var(--primary-color);
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #f05d41;
}

/* container */
.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 36px;
}

.app__container-category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.categody__heading {
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.categody__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.categody-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

.categody-item__link {
    position: relative;
    display: block;
    font-size: 1.4rem;
    padding: 12px 16px;
    color: var(--text-color);
    text-decoration: none;
    transition: right linear 0.1s;
    right: 0; 
}

.categody-item__link:hover {
    color: var(--primary-color);
    right: -5px;
}

.categody-item--active .categody-item__link {
    color: var(--brand-primary-color);
}

.categody-item--active .categody-item__link::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 6px;
    border: 4px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}

.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    padding: 12px 22px;
    border-radius: 2px;
    align-items: center;
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;

}

.home-filter__page-current {
    color: var(--brand-primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    text-decoration: none;
    background-color: var(--white-color);

}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}
    

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon  {
    color: #ccc;
}

/* product */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 0.125rem 0 rgba(0, 0, 0, .1);
    transition: tranform linear 0.1s;
    will-change: tranform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .05);
}

.home-product-item__img {
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center ;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    color: var(--text-color);
    display: block;
    height: 3.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    padding-left: 10px;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

.home-product-item__like--action .home-product-item__like--action-emty{
    display: none;
}

.home-product-item__like--action .home-product-item__like--action-fill {
    display: inline-block;
}

i.home-product-item__like--action-fill {
    display: none ;
    color: #f63d30; 
}

.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #d5d5d5;
    margin-left: auto;
}

.home-product-item__star-gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    font-size: 1.1rem;
    color: #595959;
    font-weight: 300;

}

.home-product-item__brand {

}

.home-product-item__origin-name {

}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -5px;
    color: var(--brand-primary-color);
    background-color: currentColor;
    font-size: 1.1rem;
    padding-right: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    line-height: 1.7rem;
}

.home-product-item__favorite::after {
    content: "";
    position: absolute;
    border-top: 4px solid currentColor;
    border-left: 4px solid transparent;
    left: 0;
    bottom: -4px;
    filter: brightness(60%);
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__favorite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 1px 0 5px;
}

.home-product-item__sale-off {
    padding-top: 2px;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.9);
    text-align: center;
}

.home-product-item__sale-off::after { 
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.9);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2rem;
}

.home-product-item__sale-off-label {
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 600;
}

.home-product__pagination {
    margin: 48px 0 32px 0;
}

/* footer */
.footer {
    padding-top: 16px;
    border-top: 4px solid var(--brand-primary-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--black-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    color: #737373;
    font-size: 1.2rem;
    font-weight: 350;
    padding: 6px 0;
    display: block;
}

.footer-item__link:hover {
    color: var(--brand-primary-color);
}

.footer-item__link-icon {
    font-size: 1.6rem;
    margin-right: 8px;
}

.footer-item__link-img {
    background-color: var(--white-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.footer-list__pay {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer-item__pay {
    margin: 0 8px 4px 0;
}

.footer-item__link-pay {
    text-decoration: none;
}

.footer-item__link-img {
    padding: 4px 2px;
    border-radius: 2px;
}

.footer__donwload {
    display: flex;
}

.footer__donwload-app-img-qr {
    width: 80px;
    border-radius: 2px; 
    background-color: var(--white-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.footer__donwload-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__donwload-app-link {
    text-decoration: none;
}

.footer__donwload-app-img {
    height: 24px;
    padding: 4px 4px;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.footer__bottom {
    padding: 8px 0;
    margin-top: 36px;
    background-color: #f5f5f5;
}

.footer__text {
    margin: 0;
    font-size: 1.3rem;
    color: #737373;
    text-align: center;
}